<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="49444AxeJulius.DragonAgeInwallpapersHD" Publisher="CN=EE61FA12-8AB0-48AE-AB5C-1AEEF089B9B9" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="eca2f4f5-0dd5-4fe8-b0fb-2c77daa88e59" PhonePublisherId="caa15d4a-ef1b-43f9-857e-91d7dbc27063" />
  <Properties>
    <DisplayName>Dragon Age In wallpapers HD</DisplayName>
    <PublisherDisplayName>Axe Julius</PublisherDisplayName>
    <Logo>Inquisitio.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="AGHost.exe" EntryPoint="MainPage.xaml">
      <m3:VisualElements DisplayName="Dragon Age In wallpapers HD" Square150x150Logo="150x150.png" Square44x44Logo="44x44.png" Description="DragonAgeIn" ForegroundText="light" BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="da3\4.jpg" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>